#main-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}
.container-b {
  max-width: 30rem;
}

.container-a,
.container-b,
.container-c {
  background-color: #eee;
  padding: 1rem;
  border-radius: 0.5rem;
}

.container textarea {
  width: 200px;
  height: 200px;
  background-color: azure;
  border-radius: 2rem;
  padding: 2rem;
}

.container-b button {
  margin-top: 10px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container div {
  text-align: center;
}

.container h1 {
  font-size: 24px;
  margin: 5px 0;
}

.container h2 {
  font-size: 18px;
  margin: 5px 0;
}

.container p {
  font-size: 16px;
  margin: 5px 0;
}

.container textarea,
.container input[type="text"],
.container button {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.home-button {
  border-radius: 100% !important;
  padding: 0 !important;
  margin: 0;
  height: 4rem;
  width: 4rem;
  align-self: center;
}

.container input[type="text"],
.container #input-text {
  background-color: #535353;
  color: rgb(45, 207, 45);
}

#aufgaben-catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 4rem;
  place-items: center;
}

.hero-titel {
  grid-column: span 3; /* Diese Syntax wird von den meisten Browsern unterstützt */
  text-align: center;
  letter-spacing: 0.2rem;
}
